.home{
    color: white;
    .title{
        font-family: 'Rokkitt', serif;
        font-size: 4em;
    }
    .subtitle{
        font-family: 'Rokkitt', serif;
        font-size: 3em;
    }
    text-align: center;
    margin-top: 25%;
}
