.home{
    color: white;
    .title{
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 5em;
    }
    .subtitle{
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 4em;
        color: #f2842a;
    }
    text-align: center;
    margin-top: 25%;
}

