.layout{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    @media (max-width:500px) {
        flex-direction: column-reverse;
        & > *:first-child {
            height:50px;
            transition: all 0.5s ease-in-out;
            &:hover ,&:focus,&:active{
                height: 30vh;
            }
        }
    }
    .main {
        flex:1;
        background-color: #222831;
    }
}