.layout{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    .main {
        flex:1;
        background-color: rgb(12, 15, 21);
        // background-image: url('/images/fondo.jpg');
    }
}

