.menu-bar{
    overflow: hidden;
    // width: 30vw;
    background-color: #0d1621;
    // box-shadow: 2px 0px 20px #34383f;
    padding: 4%;
    .picture{
        border-radius: 300px;
    }
    .title{
        color: #d65a31;
        font-family: 'Permanent Marker', cursive;
    }
    .menu{
        display: flex;
        flex-direction: column;
        margin: 2%;
        margin: 2%;
        margin-top: 20%;
        .menu-item{
            text-decoration: none;
            color: #eeeeee;
            font-size: 2em;
            margin: 2%;
            font-family: 'Alegreya Sans SC', sans-serif;
            transition: color 1s;
        }
        .menu-item:hover{
            color: #f2842a;
            transition: 0.8s;
        }
    }    
}